In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [ ]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 10)

In [ ]:
sale_df = pd.read_csv("Sale_Listing_cleaned.csv")
rent_df = pd.read_csv("Rent_Listing.csv")

In [ ]:
sale_df['listing'] = 'sale'
rent_df['listing'] = 'rent'

In [ ]:
sale_df

,type,furnishing,surface_area,land_area,bedroom,bathroom,floor,number_of_floors,price_clean,building_age_years,listing,City,Neighborhood
0,apartment,unfurnished,185.0,0.0,6.0,3.0,last floor with roof,1.0,87000.0,0.5,sale,Amman,Al Bnayyat
1,apartment,unfurnished,215.0,0.0,6.0,3.0,more than 10 floors,1.0,95000.0,0.5,sale,Amman,Al Bnayyat
2,apartment,unfurnished,150.0,0.0,2.0,3.0,ground floor,1.0,59500.0,7.5,sale,Zarqa,Jabal Tareq
3,apartment,unfurnished,180.0,0.0,3.0,3.0,ground floor,1.0,125000.0,0.5,sale,Amman,Tla' Ali
4,apartment,unfurnished,120.0,0.0,4.0,2.0,ground floor,1.0,12500.0,0.5,sale,Zarqa,Al Hashemieh
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6846,whole building,unfurnished,370.0,1024.0,0.0,0.0,0,3.0,85000.0,7.5,sale,Amman,Adan
6847,whole building,unfurnished,400.0,296.0,0.0,0.0,0,3.0,50000.0,20.0,sale,Amman,Jabal Al Zohor
6848,whole building,unfurnished,120.0,400.0,0.0,0.0,0,3.0,65000.0,7.5,sale,Zarqa,Al Autostrad
6849,whole building,unfurnished,200.0,500.0,0.0,0.0,0,3.0,90000.0,20.0,sale,Zarqa,Hay Al Ameer Mohammad
6850,whole building,unfurnished,645.0,500.0,0.0,0.0,0,3.0,265000.0,14.5,sale,Amman,Abu Alanda

In [ ]:
rent_df

,header,description,location,price,type,furnishing,rent_period,building_age,surface_area,land_area,bedroom,bathroom,floor,number_of_floors,price_clean,building_age_years,listing
0,50 m2 Studio Apartments for Rent in Amman Swefieh,"studio , one bathroom , furnished , daily , su...","Amman, Swefieh",30 JOD,apartment,furnished,daily,0-11,50.0,NaN,studio,1.0,first floor,1.0,30.0,0.5,rent
1,278 m2 3 Bedrooms Apartments for Rent in Amman...,"3 bedrooms , 4 bathrooms , semi furnished , ye...","Amman, Abdoun Al Janobi","19,900 JOD",apartment,semi furnished,yearly,6-9,278.0,NaN,3,4.0,first floor,1.0,19900.0,7.5,rent
2,105 m2 2 Bedrooms Apartments for Rent in Amman...,"2 bedrooms , 2 bathrooms , unfurnished , yearl...","Amman, Daheit Al Rasheed","4,000 JOD",apartment,unfurnished,yearly,6-9,105.0,NaN,2,2.0,basement floor,1.0,4000.0,7.5,rent
3,110 m2 3 Bedrooms Apartments for Rent in Amman...,"3 bedrooms , 2 bathrooms , unfurnished , yearl...","Amman, Swelieh",190 JOD,apartment,unfurnished,yearly,1-5,110.0,NaN,3,2.0,second floor,1.0,190.0,3.0,rent
4,130 m2 2 Bedrooms Apartments for Rent in Amman...,"2 bedrooms , 3 bathrooms , furnished , yearly ...","Amman, Abdoun","13,000 JOD",apartment,furnished,yearly,1-5,130.0,NaN,2,3.0,ground floor,1.0,13000.0,3.0,rent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5612,مبنى بالكامل للأيجار ( Property 46200 )-176268966,"yearly , surface area: 1400 m2, land area: 104...","Amman, Abdoun","75,000 JOD",whole building,NaN,yearly,10-19,1400.0,1040.0,NaN,NaN,NaN,NaN,75000.0,14.5,rent
5613,سطح استثماري حق اعتلاء 3طوابق وروف للبيع للجادين,"yearly , surface area: 1225 m2, land area: 600...","Amman, Sports City","150,000 JOD",whole building,NaN,yearly,10-19,1225.0,600.0,NaN,NaN,NaN,4.0,150000.0,14.5,rent
5614,بيت للبيع الجبل الاخضر موقع مميز بجانب جامع اب...,"surface area: 200 m2, land area: 300 m2, 2 flo...","Amman, Al-Jabal Al-Akhdar","52,000 JOD",whole building,NaN,NaN,20,200.0,300.0,NaN,NaN,NaN,2.0,52000.0,20.0,rent
5615,عمارة جديدة مفروشة 2025 للإيجار السنوي تحتوي (...,"yearly , surface area: 100 m2, land area: 1200...","Amman, Abdoun Al Shamali","270,000 JOD",whole building,NaN,yearly,0-11,100.0,1200.0,NaN,NaN,NaN,5.0,270000.0,0.5,rent
5616,عمارة جديدة للإيجار الكامل الفارغ (تحتوي 20شقة...,"yearly , surface area: 100 m2, land area: 1200...","Amman, Abdoun Al Shamali","220,000 JOD",whole building,NaN,yearly,0-11,100.0,1200.0,NaN,NaN,NaN,5.0,220000.0,0.5,rent

In [ ]:
sale_df.columns

Index(['type', 'furnishing', 'surface_area', 'land_area', 'bedroom',
       'bathroom', 'floor', 'number_of_floors', 'price_clean',
       'building_age_years', 'listing', 'City', 'Neighborhood'],
      dtype='object')

In [ ]:
sale_df.isnull().sum().tolist()

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
rent_df.isnull().sum().tolist()

[0, 0, 0, 188, 0, 34, 144, 461, 254, 5236, 250, 252, 20, 449, 188, 461, 0]

In [ ]:
rent_df.columns

Index(['header', 'description', 'price', 'type', 'furnishing', 'rent_period',
       'building_age', 'surface_area', 'land_area', 'bedroom', 'bathroom',
       'floor', 'number_of_floors', 'price_clean', 'building_age_years',
       'listing', 'City', 'Neighborhood'],
      dtype='object')

In [ ]:
sale_df['number_of_floors'].value_counts()

number_of_floors
1.0    5660
2.0     537
3.0     430
4.0     173
5.0      51
Name: count, dtype: int64

In [ ]:
sale_df['floor'].value_counts().tolist()

[2731, 1019, 807, 639, 438, 398, 392, 213, 166, 16, 12, 10, 6, 2, 2]

In [ ]:
sale_df['floor'].isnull().sum()

0

In [ ]:
#df = sale_df.copy()
sale_df['floor'].value_counts().head(10)

floor
ground floor            2731
first floor             1019
second floor             807
third floor              639
semi ground floor        438
last floor with roof     398
0                        392
basement floor           213
fourth floor             166
fifth floor               16
Name: count, dtype: int64

In [ ]:
#solving the issue with floors in our dataset

floor_map_final = {
    "ground floor": 0,
    "first floor": 1,
    "second floor": 2,
    "third floor": 3,
    "semi ground floor": 0.5,
    "0": 0,
    "basement floor": -1,
    "fourth floor": 4,
    "fifth floor": 5,
    "sixth floor": 6,
    "seventh floor": 7,
    "eighth floor": 8,
    "ninth floor": 9,
    "more than 10 floors": 11.5
}

sale_df['floor_lower'] = sale_df['floor'].astype(str).str.lower().str.strip()
last_roof = sale_df['floor_lower'] == 'last floor with roof'

sale_df['floor_numeric'] = sale_df['floor_lower'].map(floor_map_final)

valid_floors = sale_df['floor_numeric'][(sale_df['floor_numeric'] >= 2)]

if valid_floors.dropna().size > 0:
    avg_floor = valid_floors.mean()
else:
    avg_floor = 3.0

#filling the last roof with floor flag to give an indicator that its a floor and a half (roof)
#plus its positive because its either on top of the floor (higher space), or on the same level
#so its extra lavarage for the buyers

sale_df.loc[last_roof, 'floor_numeric'] = avg_floor + 0.5

sale_df[['floor_lower','floor_numeric']].loc[last_roof].head()

             floor_lower  floor_numeric
0   last floor with roof       3.237349
7   last floor with roof       3.237349
10  last floor with roof       3.237349
15  last floor with roof       3.237349
21  last floor with roof       3.237349

In [ ]:
sale_df['floor'].value_counts().head(10)

floor
ground floor            2731
first floor             1019
second floor             807
third floor              639
semi ground floor        438
last floor with roof     398
0                        392
basement floor           213
fourth floor             166
fifth floor               16
Name: count, dtype: int64

In [ ]:
sale_df['floor'].value_counts().tail(10)

floor
 3.0     639
 0.5     438
-1.0     213
 4.0     166
 5.0      16
 7.0      12
 11.5     10
 6.0       6
 8.0       2
 9.0       2
Name: count, dtype: int64

In [ ]:
rent_df.columns

Index(['header', 'description', 'price', 'type', 'furnishing', 'rent_period',
       'building_age', 'surface_area', 'land_area', 'bedroom', 'bathroom',
       'floor', 'number_of_floors', 'price_clean', 'building_age_years',
       'listing', 'City', 'Neighborhood'],
      dtype='object')

In [ ]:
sale_df.columns

Index(['type', 'furnishing', 'surface_area', 'land_area', 'bedroom',
       'bathroom', 'floor', 'number_of_floors', 'price_clean',
       'building_age_years', 'listing', 'City', 'Neighborhood'],
      dtype='object')

In [ ]:
#indexing was used to check the data and similar data
Index(['header', 'description', 'price', '', '', 'rent_period',
       '', '', '', '', '',
       '', '', 'price_clean', 'building_age_years',
       '', ],
      dtype='object')

Index(['', '', '', '', '',
       '', '', '', 'price_clean',
       '', '', ', 'floor_lower',
       'floor_numeric'],
      dtype='object')

In [ ]:
rent_df.location

0                  Amman, Swefieh
1         Amman, Abdoun Al Janobi
2        Amman, Daheit Al Rasheed
3                  Amman, Swelieh
4                   Amman, Abdoun
                  ...
5612                Amman, Abdoun
5613           Amman, Sports City
5614    Amman, Al-Jabal Al-Akhdar
5615     Amman, Abdoun Al Shamali
5616     Amman, Abdoun Al Shamali
Name: location, Length: 5617, dtype: object

In [ ]:
type(rent_df)

pandas.core.frame.DataFrame

In [ ]:
#making sure that location is split to city and neighbourhood
split_location = rent_df['location'].str.split(',', n=1, expand=True)
rent_df['City'] = split_location[0].str.strip()
rent_df['Neighborhood'] = split_location[1].str.strip()

#validating and remoing location column
print(type(rent_df))
rent_df = rent_df.drop(columns=['location'])
print(type(rent_df))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [ ]:
rent_df = rent_df.drop(columns=['building_age'])

In [ ]:
print(rent_df.furnishing)
print(sale_df.furnishing)

0            furnished
1       semi furnished
2          unfurnished
3          unfurnished
4            furnished
             ...
5612               NaN
5613               NaN
5614               NaN
5615               NaN
5616               NaN
Name: furnishing, Length: 5617, dtype: object
0       unfurnished
1       unfurnished
2       unfurnished
3       unfurnished
4       unfurnished
           ...
6846    unfurnished
6847    unfurnished
6848    unfurnished
6849    unfurnished
6850    unfurnished
Name: furnishing, Length: 6851, dtype: object

In [ ]:
rent_df[rent_df['furnishing'].isnull()]

,header,description,price,type,furnishing,rent_period,building_age,surface_area,land_area,bedroom,bathroom,floor,number_of_floors,price_clean,building_age_years,listing,City,Neighborhood
41,110 m2 3 Bedrooms Apartments for Rent in Amman...,"3 bedrooms , 2 bathrooms , monthly , surface a...",NaN,apartment,NaN,monthly,NaN,110.0,NaN,3,2.0,ground floor,1.0,NaN,NaN,rent,Amman,Abdoun Al Shamali
358,110 m2 3 Bedrooms Apartments for Rent in Amman...,"3 bedrooms , 2 bathrooms , monthly , surface a...",NaN,apartment,NaN,monthly,NaN,110.0,NaN,3,2.0,ground floor,1.0,NaN,NaN,rent,Amman,Abdoun Al Shamali
635,120 m2 Apartments for Rent in Amman Jubaiha,"monthly , surface area: 120 m2, 0 - 11 months",375 JOD,apartment,NaN,monthly,0-11,120.0,NaN,NaN,NaN,NaN,1.0,375.0,0.5,rent,Amman,Jubaiha
1506,Apartments for Rent in Madaba Madaba Center,monthly,140 JOD,apartment,NaN,monthly,NaN,NaN,NaN,NaN,NaN,NaN,1.0,140.0,NaN,rent,Madaba,Madaba Center
2626,Apartments for Rent in Amman Jabal Amman,apartments for rent,"7,800 JOD",apartment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,7800.0,NaN,rent,Amman,Jabal Amman
2639,Apartments for Rent in Amman Jabal Amman,apartments for rent,"4,200 JOD",apartment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4200.0,NaN,rent,Amman,Jabal Amman
2906,2 Bedrooms Apartments for Rent in Amman Swelieh,"2 bedrooms , 2 bathrooms , monthly , ground floor",150 JOD,apartment,NaN,monthly,NaN,NaN,NaN,2,2.0,ground floor,1.0,150.0,NaN,rent,Amman,Swelieh
3348,3 Bedrooms Apartments for Rent in Madaba Hanina,"3 bedrooms , 2 bathrooms , monthly",150 JOD,apartment,NaN,monthly,NaN,NaN,NaN,3,2.0,NaN,1.0,150.0,NaN,rent,Madaba,Hanina
3490,2 Bedrooms Apartments for Rent in Amman Daheit...,"2 bedrooms , 2 bathrooms , monthly , semi grou...",300 JOD,apartment,NaN,monthly,NaN,NaN,NaN,2,2.0,semi ground floor,1.0,300.0,NaN,rent,Amman,Daheit Al Yasmeen
3565,1 Bedroom Apartments for Rent in Amman Al Manarah,"1 bedroom , one bathroom , ground floor",100 JOD,apartment,NaN,NaN,NaN,NaN,NaN,1,1.0,ground floor,1.0,100.0,NaN,rent,Amman,Al Manarah
4387,1 Bedroom Apartments for Rent in Amman 7th Circle,"1 bedroom , one bathroom , monthly , ground floor",600 JOD,apartment,NaN,monthly,NaN,NaN,NaN,1,1.0,ground floor,1.0,600.0,NaN,rent,Amman,7th Circle
4681,3 Bedrooms Apartments for Rent in Amman Adan,"3 bedrooms , one bathroom , ground floor","1,600 JOD",apartment,NaN,NaN,NaN,NaN,NaN,3,1.0,ground floor,1.0,1600.0,NaN,rent,Amman,Adan
4767,2 Bedrooms Apartments for Rent in Amman Al Rabiah,"2 bedrooms , one bathroom , yearly , ground floor",300 JOD,apartment,NaN,yearly,NaN,NaN,NaN,2,1.0,ground floor,1.0,300.0,NaN,rent,Amman,Al Rabiah
4819,1 Bedroom Apartments for Rent in Irbid Al Nase...,"1 bedroom , one bathroom , monthly , ground floor",200 JOD,apartment,NaN,monthly,NaN,NaN,NaN,1,1.0,ground floor,1.0,200.0,NaN,rent,Irbid,Al Naseem Circle
5419,2 Bedrooms Townhouse for Rent in Irbid Al Barha,"2 bedrooms , one bathroom , yearly , land area...",170 JOD,town house,NaN,yearly,NaN,NaN,1500.0,2,1.0,ground floor,NaN,170.0,NaN,rent,Irbid,Al Barha
5427,2 Bedrooms Townhouse for Rent in Amman Al Kama...,"2 bedrooms , one bathroom , land area: 70 m2",110 JOD,town house,NaN,NaN,NaN,NaN,70.0,2,1.0,ground floor,NaN,110.0,NaN,rent,Amman,Al Kamaliya
5428,96 m2 Townhouse for Rent in Salt Ein Al-Basha,"surface area: 96 m2, land area: 96 m2, 3 floors",NaN,town house,NaN,NaN,NaN,96.0,96.0,NaN,NaN,ground floor,3.0,NaN,NaN,rent,Salt,Ein Al-Basha
5435,3 Bedrooms Townhouse for Rent in Zarqa Al Hawooz,"3 bedrooms , one bathroom , monthly , land are...",12 JOD,town house,NaN,monthly,NaN,NaN,120.0,3,1.0,ground floor,NaN,12.0,NaN,rent,Zarqa,Al Hawooz
5488,Villa for Rent in Amman Abdoun,villa - palace for rent,"85,000 JOD",villas and palaces,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ground floor,NaN,85000.0,NaN,rent,Amman,Abdoun
5489,Villa for Rent in Amman Abdoun,villa - palace for rent,"85,000 JOD",villas and palaces,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ground floor,NaN,85000.0,NaN,rent,Amman,Abdoun
5490,Villa for Rent in Amman Abdoun,villa - palace for rent,"40,000 JOD",villas and palaces,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ground floor,NaN,40000.0,NaN,rent,Amman,Abdoun
5491,Villa for Rent in Amman Abdoun,villa - palace for rent,"64,992 JOD",villas and palaces,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ground floor,NaN,64992.0,NaN,rent,Amman,Abdoun
5492,Villa for Rent in Amman Abdoun,villa - palace for rent,"40,000 JOD",villas and palaces,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ground floor,NaN,40000.0,NaN,rent,Amman,Abdoun
5493,Villa for Rent in Amman Abdoun,villa - palace for rent,"64,992 JOD",villas and palaces,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ground floor,NaN,64992.0,NaN,rent,Amman,Abdoun
5494,Villa for Rent in Amman Abdoun,villa - palace for rent,"85,000 JOD",villas and palaces,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ground floor,NaN,85000.0,NaN,rent,Amman,Abdoun
5495,Villa for Rent in Amman Abdoun,villa - palace for rent,"40,000 JOD",villas and palaces,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ground floor,NaN,40000.0,NaN,rent,Amman,Abdoun
5496,Villa for Rent in Amman Abdoun,villa - palace for rent,"64,992 JOD",villas and palaces,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ground floor,NaN,64992.0,NaN,rent,Amman,Abdoun
5610,عمارة مميزة للإيجار بالكامل في عبدون ( Propert...,"yearly , surface area: 1400 m2, land area: 600...","60,000 JOD",whole building,NaN,yearly,1-5,1400.0,600.0,NaN,NaN,NaN,5.0,60000.0,3.0,rent,Amman,Abdoun
5611,شقة للايجار,"monthly , surface area: 100 m2, land area: 228...",130 JOD,whole building,NaN,monthly,10-19,100.0,228.0,NaN,NaN,NaN,1.0,130.0,14.5,rent,Irbid,Hay Al Turokman
5612,مبنى بالكامل للأيجار ( Property 46200 )-176268966,"yearly , surface area: 1400 m2, land area: 104...","75,000 JOD",whole building,NaN,yearly,10-19,1400.0,1040.0,NaN,NaN,NaN,NaN,75000.0,14.5,rent,Amman,Abdoun
5613,سطح استثماري حق اعتلاء 3طوابق وروف للبيع للجادين,"yearly , surface area: 1225 m2, land area: 600...","150,000 JOD",whole building,NaN,yearly,10-19,1225.0,600.0,NaN,NaN,NaN,4.0,150000.0,14.5,rent,Amman,Sports City
5614,بيت للبيع الجبل الاخضر موقع مميز بجانب جامع اب...,"surface area: 200 m2, land area: 300 m2, 2 flo...","52,000 JOD",whole building,NaN,NaN,20,200.0,300.0,NaN,NaN,NaN,2.0,52000.0,20.0,rent,Amman,Al-Jabal Al-Akhdar
5615,عمارة جديدة مفروشة 2025 للإيجار السنوي تحتوي (...,"yearly , surface area: 100 m2, land area: 1200...","270,000 JOD",whole building,NaN,yearly,0-11,100.0,1200.0,NaN,NaN,NaN,5.0,270000.0,0.5,rent,Amman,Abdoun Al Shamali
5616,عمارة جديدة للإيجار الكامل الفارغ (تحتوي 20شقة...,"yearly , surface area: 100 m2, land area: 1200...","220,000 JOD",whole building,NaN,yearly,0-11,100.0,1200.0,NaN,NaN,NaN,5.0,220000.0,0.5,rent,Amman,Abdoun Al Shamali

In [ ]:
rent_df[rent_df['building_age_years'].isnull()]

,header,description,price,type,furnishing,rent_period,building_age,surface_area,land_area,bedroom,bathroom,floor,number_of_floors,price_clean,building_age_years,listing,City,Neighborhood
41,110 m2 3 Bedrooms Apartments for Rent in Amman...,"3 bedrooms , 2 bathrooms , monthly , surface a...",NaN,apartment,NaN,monthly,NaN,110.0,NaN,3,2.0,ground floor,1.0,NaN,NaN,rent,Amman,Abdoun Al Shamali
358,110 m2 3 Bedrooms Apartments for Rent in Amman...,"3 bedrooms , 2 bathrooms , monthly , surface a...",NaN,apartment,NaN,monthly,NaN,110.0,NaN,3,2.0,ground floor,1.0,NaN,NaN,rent,Amman,Abdoun Al Shamali
1042,200 m2 3 Bedrooms Apartments for Rent in Amman...,"3 bedrooms , 2 bathrooms , unfurnished , surfa...","3,000 JOD",apartment,unfurnished,NaN,NaN,200.0,NaN,3,2.0,first floor,1.0,3000.0,NaN,rent,Amman,Hai Nazzal
1506,Apartments for Rent in Madaba Madaba Center,monthly,140 JOD,apartment,NaN,monthly,NaN,NaN,NaN,NaN,NaN,NaN,1.0,140.0,NaN,rent,Madaba,Madaba Center
1657,3 Bedrooms Apartments for Rent in Irbid Daheit...,"3 bedrooms , 2 bathrooms , unfurnished , month...",200 JOD,apartment,unfurnished,monthly,NaN,NaN,NaN,3,2.0,ground floor,1.0,200.0,NaN,rent,Irbid,Daheit Al Hussain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5604,750 m2 5 Bedrooms Villa for Rent in Amman Al R...,"5 bedrooms , more than 6 bathrooms , unfurnish...","18,000 JOD",villas and palaces,unfurnished,yearly,NaN,750.0,1.0,5,6.0,ground floor,3.0,18000.0,NaN,rent,Amman,Al Rabiah
5605,1000 m2 5 Bedrooms Villa for Rent in Amman Khalda,"5 bedrooms , more than 6 bathrooms , furnished...","75,000 JOD",villas and palaces,furnished,yearly,NaN,1000.0,1100.0,5,6.0,ground floor,2.0,75000.0,NaN,rent,Amman,Khalda
5606,For Rent Swiefieh Semi villa 2 storey not furn...,"4 bedrooms , 3 bathrooms , unfurnished , yearl...",NaN,villas and palaces,unfurnished,yearly,NaN,300.0,750.0,4,3.0,ground floor,2.0,NaN,NaN,rent,Amman,Swefieh
5607,1200 m2 5 Bedrooms Villa for Rent in Amman Khalda,"5 bedrooms , more than 6 bathrooms , furnished...",220 JOD,villas and palaces,furnished,daily,NaN,1200.0,850.0,5,6.0,ground floor,2.0,220.0,NaN,rent,Amman,Khalda
5608,Luxury -Furnished - Villa For Rent In Dabouq,"more than 6 bedrooms , more than 6 bathrooms ,...","80,000 JOD",villas and palaces,furnished,yearly,NaN,760.0,1300.0,6,6.0,ground floor,4.0,80000.0,NaN,rent,Amman,Dabouq

In [ ]:
rent_df = rent_df.dropna(subset=['price_clean'])

In [ ]:
type(rent_df)

pandas.core.frame.DataFrame

In [ ]:
rent_df[rent_df['furnishing'].isnull()]

,header,description,price,type,furnishing,rent_period,surface_area,land_area,bedroom,bathroom,floor,number_of_floors,price_clean,building_age_years,listing,City,Neighborhood
635,120 m2 Apartments for Rent in Amman Jubaiha,"monthly , surface area: 120 m2, 0 - 11 months",375 JOD,apartment,NaN,monthly,120.0,NaN,NaN,NaN,NaN,1.0,375.0,0.5,rent,Amman,Jubaiha
1506,Apartments for Rent in Madaba Madaba Center,monthly,140 JOD,apartment,NaN,monthly,NaN,NaN,NaN,NaN,NaN,1.0,140.0,NaN,rent,Madaba,Madaba Center
2626,Apartments for Rent in Amman Jabal Amman,apartments for rent,"7,800 JOD",apartment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,7800.0,NaN,rent,Amman,Jabal Amman
2639,Apartments for Rent in Amman Jabal Amman,apartments for rent,"4,200 JOD",apartment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4200.0,NaN,rent,Amman,Jabal Amman
2906,2 Bedrooms Apartments for Rent in Amman Swelieh,"2 bedrooms , 2 bathrooms , monthly , ground floor",150 JOD,apartment,NaN,monthly,NaN,NaN,2,2.0,ground floor,1.0,150.0,NaN,rent,Amman,Swelieh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5612,مبنى بالكامل للأيجار ( Property 46200 )-176268966,"yearly , surface area: 1400 m2, land area: 104...","75,000 JOD",whole building,NaN,yearly,1400.0,1040.0,NaN,NaN,NaN,NaN,75000.0,14.5,rent,Amman,Abdoun
5613,سطح استثماري حق اعتلاء 3طوابق وروف للبيع للجادين,"yearly , surface area: 1225 m2, land area: 600...","150,000 JOD",whole building,NaN,yearly,1225.0,600.0,NaN,NaN,NaN,4.0,150000.0,14.5,rent,Amman,Sports City
5614,بيت للبيع الجبل الاخضر موقع مميز بجانب جامع اب...,"surface area: 200 m2, land area: 300 m2, 2 flo...","52,000 JOD",whole building,NaN,NaN,200.0,300.0,NaN,NaN,NaN,2.0,52000.0,20.0,rent,Amman,Al-Jabal Al-Akhdar
5615,عمارة جديدة مفروشة 2025 للإيجار السنوي تحتوي (...,"yearly , surface area: 100 m2, land area: 1200...","270,000 JOD",whole building,NaN,yearly,100.0,1200.0,NaN,NaN,NaN,5.0,270000.0,0.5,rent,Amman,Abdoun Al Shamali
5616,عمارة جديدة للإيجار الكامل الفارغ (تحتوي 20شقة...,"yearly , surface area: 100 m2, land area: 1200...","220,000 JOD",whole building,NaN,yearly,100.0,1200.0,NaN,NaN,NaN,5.0,220000.0,0.5,rent,Amman,Abdoun Al Shamali

In [ ]:
#checking for missing values in columns currently
rent_df.isnull().sum()[rent_df.isnull().sum() > 0]

furnishing              31
rent_period            136
surface_area           236
land_area             5072
bedroom                233
bathroom               235
floor                   19
number_of_floors       420
building_age_years     426
dtype: int64

In [ ]:
# to drop the land area column and building age

rent_df[['building_age_years', 'number_of_floors','bathroom','bedroom']].isnull().all(axis=1).sum()
#rent_df[['bathroom','bedroom']].isnull().all(axis=1).sum()
#rent_df[['rent_period','number_of_floors','building_age_years']].isnull().all(axis=1).sum()

219

In [ ]:
rent_df = rent_df.dropna(subset=['building_age_years', 'number_of_floors', 'bathroom', 'bedroom'], how='all')

In [ ]:
#validation
rent_df.isnull().sum()[rent_df.isnull().sum() > 0]

furnishing              22
rent_period            127
surface_area            17
land_area             4853
bedroom                 14
bathroom                16
floor                   19
number_of_floors       201
building_age_years     207
dtype: int64

In [ ]:
#rent_df = rent_df.drop(columns=['land_area', 'building_age'])
rent_df = rent_df.drop(columns=['header', 'description','price'])

In [ ]:
rent_df['rent_period'] = rent_df['rent_period'].fillna(rent_df['rent_period'].mode()[0])

In [ ]:
rent_df = rent_df.dropna(subset=['building_age_years',
                                 'number_of_floors','floor',
                                 'bathroom','bedroom','surface_area',
                                 'furnishing']).reset_index(drop=True)

In [ ]:
rent_df.isnull().sum()[rent_df.isnull().sum() > 0]

land_area    4795
dtype: int64

In [ ]:
rent_df.columns

Index(['type', 'furnishing', 'rent_period', 'surface_area', 'land_area',
       'bedroom', 'bathroom', 'floor', 'number_of_floors', 'price_clean',
       'building_age_years', 'listing', 'City', 'Neighborhood'],
      dtype='object')

In [ ]:
sale_df.columns

Index(['type', 'furnishing', 'surface_area', 'land_area', 'bedroom',
       'bathroom', 'floor', 'number_of_floors', 'price_clean',
       'building_age_years', 'listing', 'City', 'Neighborhood', 'floor_lower',
       'floor_numeric'],
      dtype='object')

In [ ]:
sale_cols = sale_df.columns.difference(rent_df.columns)
rent_cols = rent_df.columns.difference(sale_df.columns)

print("columns only found in sale_df ==>", list(sale_cols))
print("columns only found in rent_df ==>", list(rent_cols))

Columns only in sale_df: ['floor_lower', 'floor_numeric']
Columns only in rent_df: ['rent_period']

In [ ]:
print(rent_df['type'].value_counts(),'\n')
print(rent_df['furnishing'].value_counts(),'\n')
print(rent_df['rent_period'].value_counts(),'\n')
#print(rent_df['surface_area'].value_counts(),'\n')
print(rent_df['bedroom'].value_counts(),'\n')
#print(rent_df['bathroom'].value_counts(),'\n')
print(rent_df['floor'].value_counts(),'\n')
#print(rent_df['number_of_floors'].value_counts(),'\n')
#print(rent_df['price_clean'].value_counts(),'\n')
#print(rent_df['building_age_years'].value_counts(),'\n')
print(rent_df['listing'].value_counts(),'\n')
print(rent_df['City'].value_counts(),'\n')
print(rent_df['Neighborhood'].value_counts(),'\n')

type
apartment             4795
farms and chalets        4
villas and palaces       2
Name: count, dtype: int64

furnishing
furnished         2501
unfurnished       2134
semi furnished     166
Name: count, dtype: int64

rent_period
yearly     2761
monthly    1730
daily       266
weekly       44
Name: count, dtype: int64

bedroom
3         2008
2         1328
4          490
studio     468
1          404
5           85
6           18
Name: count, dtype: int64

floor
first floor            1153
second floor           1059
ground floor           1055
third floor             679
semi ground floor       272
                       ...
fifth floor              25
more than 10 floors      17
sixth floor              11
seventh floor             6
eighth floor              1
Name: count, Length: 13, dtype: int64

listing
rent    4801
Name: count, dtype: int64

City
Amman            4088
Irbid             373
Zarqa             169
Aqaba              63
Salt               26
                 ...
Ajloun              5
Tafila              5
Ma'an               2
Ramtha              2
Jordan Valley       2
Name: count, Length: 14, dtype: int64

Neighborhood
Abdoun                  601
Deir Ghbar              317
Khalda                  225
Jubaiha                 222
7th Circle              195
                       ...
Irbid Girl's College      1
E'in Jana                 1
Al I'zariyyeh             1
Dahiet Al Amera Haya      1
Al-Bustan                 1
Name: count, Length: 266, dtype: int64

In [ ]:
rent_df.Neighborhood

0                 Swefieh
1        Abdoun Al Janobi
2       Daheit Al Rasheed
3                 Swelieh
4                  Abdoun
              ...
4796         Al Hashemieh
4797         Al Hashemieh
4798         Al Hashemieh
4799              Jubaiha
4800           Deir Ghbar
Name: Neighborhood, Length: 4801, dtype: object

In [ ]:
#dfr = rent_df.copy()

In [ ]:
furnish_map = {
    "furnished" : 1,
    "semi furnished" : 0.5,
    "unfurnished" : 0
}
rent_df['furnishing'] = rent_df['furnishing'].str.lower().map(furnish_map)

In [ ]:
period_map = {
    "daily":1,
    "weekly":7,
    "monthly":30,
    "yearly":365
}
rent_df['rent_period'] = rent_df['rent_period'].str.lower().map(period_map)

In [ ]:
def bedroom_to_num(x):
    x=str(x).lower() # done this just in case
    if x=="studio":
        return 0.5
    else:
        return float(x)

rent_df['bedroom'] = rent_df['bedroom'].apply(bedroom_to_num)

In [ ]:
#similar steps redone to synchronize the logic and output results
import numpy as np

floor_map_final = {
    "ground floor": 0,
    "first floor": 1,
    "second floor": 2,
    "third floor": 3,
    "semi ground floor": 0.5,
    # leave last floor out or map to np.nan
    "0": 0,
    "basement floor": -1,
    "fourth floor": 4,
    "fifth floor": 5,
    "sixth floor": 6,
    "seventh floor": 7,
    "eighth floor": 8,
    "ninth floor": 9,
    "more than 10 floors": 11.5
}

rent_df['floor_lower'] = rent_df['floor'].astype(str).str.lower().str.strip()

mask_last_roof = rent_df['floor_lower'] == 'last floor with roof'

rent_df['floor_numeric'] = rent_df['floor_lower'].map(floor_map_final)

valid_floors = rent_df['floor_numeric'][(rent_df['floor_numeric'] >= 2)] #sale_df
if valid_floors.dropna().size > 0:
    avg_floor = valid_floors.mean()          # you can keep decimal
else:
    avg_floor = 3.0

rent_df.loc[mask_last_roof, 'floor_numeric'] = avg_floor + 0.5

rent_df[['floor_lower','floor_numeric']].loc[mask_last_roof].head()

              floor_lower  floor_numeric
25   last floor with roof       1.916109
44   last floor with roof       1.916109
108  last floor with roof       1.916109
129  last floor with roof       1.916109
309  last floor with roof       1.916109

In [ ]:
#make sure that the columns are in the needed type (category)
rent_df['City'] = rent_df['City'].astype('category').cat.codes
rent_df['Neighborhood'] = rent_df['Neighborhood'].astype('category').cat.codes

In [ ]:
rent_df

,type,furnishing,rent_period,surface_area,land_area,bedroom,bathroom,floor,number_of_floors,price_clean,building_age_years,listing,City,Neighborhood,floor_lower,floor_numeric
0,apartment,1.0,1,50.0,NaN,0.5,1.0,first floor,1.0,30.0,0.5,rent,2,244,first floor,1.0
1,apartment,0.5,365,278.0,NaN,3.0,4.0,first floor,1.0,19900.0,7.5,rent,2,11,first floor,1.0
2,apartment,0.0,365,105.0,NaN,2.0,2.0,basement floor,1.0,4000.0,7.5,rent,2,135,basement floor,-1.0
3,apartment,0.0,365,110.0,NaN,3.0,2.0,second floor,1.0,190.0,3.0,rent,2,245,second floor,2.0
4,apartment,1.0,365,130.0,NaN,2.0,3.0,ground floor,1.0,13000.0,3.0,rent,2,10,ground floor,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4796,farms and chalets,0.5,365,200.0,3000.0,6.0,2.0,ground floor,2.0,88000.0,7.5,rent,13,32,ground floor,0.0
4797,farms and chalets,0.0,365,1.0,1.0,3.0,3.0,ground floor,2.0,67000.0,3.0,rent,13,32,ground floor,0.0
4798,farms and chalets,1.0,365,220.0,500.0,6.0,3.0,ground floor,1.0,90000.0,3.0,rent,13,32,ground floor,0.0
4799,villas and palaces,0.0,365,300.0,260.0,6.0,6.0,ground floor,2.0,50000.0,14.5,rent,2,206,ground floor,0.0
4800,villas and palaces,0.0,365,835.0,834.0,6.0,6.0,ground floor,3.0,1100000.0,7.5,rent,2,146,ground floor,0.0

In [ ]:
sale_df

,type,furnishing,surface_area,land_area,bedroom,bathroom,floor,number_of_floors,price_clean,building_age_years,listing,City,Neighborhood,floor_lower,floor_numeric
0,apartment,unfurnished,185.0,0.0,6.0,3.0,last floor with roof,1.0,87000.0,0.5,sale,Amman,Al Bnayyat,last floor with roof,3.237349
1,apartment,unfurnished,215.0,0.0,6.0,3.0,more than 10 floors,1.0,95000.0,0.5,sale,Amman,Al Bnayyat,more than 10 floors,11.500000
2,apartment,unfurnished,150.0,0.0,2.0,3.0,ground floor,1.0,59500.0,7.5,sale,Zarqa,Jabal Tareq,ground floor,0.000000
3,apartment,unfurnished,180.0,0.0,3.0,3.0,ground floor,1.0,125000.0,0.5,sale,Amman,Tla' Ali,ground floor,0.000000
4,apartment,unfurnished,120.0,0.0,4.0,2.0,ground floor,1.0,12500.0,0.5,sale,Zarqa,Al Hashemieh,ground floor,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6846,whole building,unfurnished,370.0,1024.0,0.0,0.0,0,3.0,85000.0,7.5,sale,Amman,Adan,0,0.000000
6847,whole building,unfurnished,400.0,296.0,0.0,0.0,0,3.0,50000.0,20.0,sale,Amman,Jabal Al Zohor,0,0.000000
6848,whole building,unfurnished,120.0,400.0,0.0,0.0,0,3.0,65000.0,7.5,sale,Zarqa,Al Autostrad,0,0.000000
6849,whole building,unfurnished,200.0,500.0,0.0,0.0,0,3.0,90000.0,20.0,sale,Zarqa,Hay Al Ameer Mohammad,0,0.000000
6850,whole building,unfurnished,645.0,500.0,0.0,0.0,0,3.0,265000.0,14.5,sale,Amman,Abu Alanda,0,0.000000

In [ ]:
print(sale_df['type'].value_counts(),'\n')
print(sale_df['furnishing'].value_counts(),'\n')
#print(sale_df['surface_area'].value_counts(),'\n')
#print(sale_df['land_area'].value_counts(),'\n')
#print(sale_df['bedroom'].value_counts(),'\n')
#print(sale_df['bathroom'].value_counts(),'\n')
#print(sale_df['floor'].value_counts(),'\n')
#print(sale_df['number_of_floors'].value_counts(),'\n')
#print(sale_df['price_clean'].value_counts(),'\n')
#print(sale_df['building_age_years'].value_counts(),'\n')
#print(sale_df['listing'].value_counts(),'\n')
print(sale_df['City'].value_counts(),'\n')
print(sale_df['Neighborhood'].value_counts(),'\n')
print(sale_df['floor_lower'].value_counts(),'\n')
#print(sale_df['floor_numeric'].value_counts(),'\n')
#REMOVE FLOOR SINCE ITS ALREADY NUMERIC LIKE FLOOR NUMERIC COLUMN

type
apartment             4948
town house             730
villas and palaces     521
whole building         381
farms and chalets      271
Name: count, dtype: int64

furnishing
unfurnished       5552
furnished          791
semi furnished     508
Name: count, dtype: int64

City
Amman       5006
Zarqa        576
Irbid        569
Aqaba        160
Salt         132
            ...
Al Karak      31
Ajloun        19
Ramtha        14
Ma'an          6
Tafila         5
Name: count, Length: 14, dtype: int64

Neighborhood
Khalda                 283
Jubaiha                251
Abdoun                 241
Deir Ghbar             232
Marj El Hamam          226
                      ...
Hay Al Rahmanieh         1
Hettin                   1
Kufr Ma'                 1
Al Mazar Al-Shamali      1
Umm Quseir               1
Name: count, Length: 459, dtype: int64

floor_lower
ground floor           2731
first floor            1019
second floor            807
third floor             639
semi ground floor       438
                       ...
seventh floor            12
more than 10 floors      10
sixth floor               6
eighth floor              2
ninth floor               2
Name: count, Length: 15, dtype: int64

In [ ]:
#Index(['type', 'furnishing', 'surface_area', 'land_area', 'bedroom',
#       'bathroom', 'floor', 'number_of_floors', 'price_clean',
#       'building_age_years', 'listing', 'City', 'Neighborhood', 'floor_lower',
#       'floor_numeric'],
#      dtype='object')

In [ ]:
############################

#dfs = sale_df.copy()

In [ ]:
#type of listing
type_map = {
    "apartment":0,
    "town house":1,
    "villas and palaces":2,
    "whole building":3,
    "farms and chalets":4
}
sale_df["type"] = sale_df["type"].map(type_map)

In [ ]:
#whether the listing includes furnisher originally or is it empty
furnishing_map = {
    "unfurnished":0,
    "furnished":1,
    "semi furnished":0.5
}
sale_df["furnishing"] = sale_df["furnishing"].map(furnishing_map)

In [ ]:
from sklearn.preprocessing import LabelEncoder
city_enc = LabelEncoder()
sale_df["City"] = city_enc.fit_transform(sale_df["City"])

In [ ]:
from sklearn.preprocessing import LabelEncoder
import re

enc = LabelEncoder()
sale_df["Neighborhood"] = enc.fit_transform(sale_df["Neighborhood"])

In [ ]:
def convert_floor(text):
    text = str(text).lower()

    if "basement" in text:
      return -1
    if "ground" in text and "semi" in text:
      return 0.5
    if "ground" in text:
      return 0

    match = re.search(r"(\d+)", text)
    if match:
      return int(match.group(1))

    if "more than" in text:
      return 11

    return None  # if there isn't and for later

sale_df["floor"] = sale_df["floor"].apply(convert_floor)

In [ ]:
sale_df['floor'].value_counts

<bound method IndexOpsMixin.value_counts of 0        NaN
1       11.5
2        0.0
3        0.0
4        0.0
        ...
6846     0.0
6847     0.0
6848     0.0
6849     0.0
6850     0.0
Name: floor, Length: 6851, dtype: float64>

In [ ]:
sale_df[sale_df['floor'].isnull()]

Empty DataFrame
Columns: [type, furnishing, surface_area, land_area, bedroom, bathroom, floor, number_of_floors, price_clean, building_age_years, listing, City, Neighborhood, floor_lower, floor_numeric]
Index: []

In [ ]:
rent_df

,type,furnishing,rent_period,surface_area,land_area,bedroom,bathroom,floor,number_of_floors,price_clean,building_age_years,listing,City,Neighborhood,floor_lower,floor_numeric
0,apartment,1.0,1,50.0,NaN,0.5,1.0,first floor,1.0,30.0,0.5,rent,2,244,first floor,1.0
1,apartment,0.5,365,278.0,NaN,3.0,4.0,first floor,1.0,19900.0,7.5,rent,2,11,first floor,1.0
2,apartment,0.0,365,105.0,NaN,2.0,2.0,basement floor,1.0,4000.0,7.5,rent,2,135,basement floor,-1.0
3,apartment,0.0,365,110.0,NaN,3.0,2.0,second floor,1.0,190.0,3.0,rent,2,245,second floor,2.0
4,apartment,1.0,365,130.0,NaN,2.0,3.0,ground floor,1.0,13000.0,3.0,rent,2,10,ground floor,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4796,farms and chalets,0.5,365,200.0,3000.0,6.0,2.0,ground floor,2.0,88000.0,7.5,rent,13,32,ground floor,0.0
4797,farms and chalets,0.0,365,1.0,1.0,3.0,3.0,ground floor,2.0,67000.0,3.0,rent,13,32,ground floor,0.0
4798,farms and chalets,1.0,365,220.0,500.0,6.0,3.0,ground floor,1.0,90000.0,3.0,rent,13,32,ground floor,0.0
4799,villas and palaces,0.0,365,300.0,260.0,6.0,6.0,ground floor,2.0,50000.0,14.5,rent,2,206,ground floor,0.0
4800,villas and palaces,0.0,365,835.0,834.0,6.0,6.0,ground floor,3.0,1100000.0,7.5,rent,2,146,ground floor,0.0

,type,furnishing,surface_area,land_area,bedroom,bathroom,floor,number_of_floors,price_clean,building_age_years,listing,City,Neighborhood,floor_lower,floor_numeric
0,0,0.0,185.0,0.0,6.0,3.0,last floor with roof,1.0,87000.0,0.5,sale,2,35,last floor with roof,3.237349
1,0,0.0,215.0,0.0,6.0,3.0,more than 10 floors,1.0,95000.0,0.5,sale,2,35,more than 10 floors,11.500000
2,0,0.0,150.0,0.0,2.0,3.0,ground floor,1.0,59500.0,7.5,sale,13,322,ground floor,0.000000
3,0,0.0,180.0,0.0,3.0,3.0,ground floor,1.0,125000.0,0.5,sale,2,421,ground floor,0.000000
4,0,0.0,120.0,0.0,4.0,2.0,ground floor,1.0,12500.0,0.5,sale,13,42,ground floor,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6846,3,0.0,370.0,1024.0,0.0,0.0,0,3.0,85000.0,7.5,sale,2,20,0,0.000000
6847,3,0.0,400.0,296.0,0.0,0.0,0,3.0,50000.0,20.0,sale,2,314,0,0.000000
6848,3,0.0,120.0,400.0,0.0,0.0,0,3.0,65000.0,7.5,sale,13,28,0,0.000000
6849,3,0.0,200.0,500.0,0.0,0.0,0,3.0,90000.0,20.0,sale,13,264,0,0.000000
6850,3,0.0,645.0,500.0,0.0,0.0,0,3.0,265000.0,14.5,sale,2,17,0,0.000000

In [ ]:
rent_df.isnull().sum().head(10)

type                   0
furnishing             0
rent_period            0
surface_area           0
land_area           4795
bedroom                0
bathroom               0
floor                  0
number_of_floors       0
price_clean            0
dtype: int64

In [ ]:
common_cols = list(set(rent_df.columns) & set(sale_df.columns))
unique_rent = list(set(rent_df.columns) - set(sale_df.columns))
unique_sale = list(set(sale_df.columns) - set(rent_df.columns))

print("COMMON COLUMNS:\n", common_cols)
print("\nONLY IN RENT:\n", unique_rent)
print("\nONLY IN SALE:\n", unique_sale)

COMMON COLUMNS:
 ['bedroom', 'price_clean', 'Neighborhood', 'listing', 'type', 'building_age_years', 'furnishing', 'land_area', 'number_of_floors', 'City', 'floor_lower', 'surface_area', 'bathroom', 'floor', 'floor_numeric']

ONLY IN RENT:
 ['rent_period']

ONLY IN SALE:
 []

In [ ]:
rent_df['type'] = rent_df['type'].astype(str)
sale_df['type'] = sale_df['type'].astype(str)

In [ ]:
print(rent_df.dtypes[['bedroom','bathroom','number_of_floors','floor_numeric']])
print(sale_df.dtypes[['bedroom','bathroom','number_of_floors','floor_numeric']])

bedroom             float64
bathroom            float64
number_of_floors    float64
floor_numeric       float64
dtype: object
bedroom             float64
bathroom            float64
number_of_floors    float64
floor_numeric       float64
dtype: object

In [ ]:
merged_df = rent_df.merge(
    sale_df,
    on=["City","Neighborhood","type","bedroom","bathroom","number_of_floors","floor_numeric"],
    how="right",
    suffixes=("_rent","_sale")
)

In [ ]:
c = ['bedroom','bathroom','number_of_floors','floor_numeric']
for c in c:
    rent_df[c] = rent_df[c].astype(float)
    sale_df[c] = sale_df[c].astype(float)

In [ ]:
merged_df

,type,furnishing_rent,rent_period,surface_area_rent,land_area_rent,bedroom,bathroom,floor_rent,number_of_floors,price_clean_rent,building_age_years_rent,listing_rent,City,Neighborhood,floor_lower_rent,floor_numeric,furnishing_sale,surface_area_sale,land_area_sale,floor_sale,price_clean_sale,building_age_years_sale,listing_sale,floor_lower_sale
0,0,NaN,NaN,NaN,NaN,6.0,3.0,NaN,1.0,NaN,NaN,NaN,2,35,NaN,3.237349,0.0,185.0,0.0,last floor with roof,87000.0,0.5,sale,last floor with roof
1,0,NaN,NaN,NaN,NaN,6.0,3.0,NaN,1.0,NaN,NaN,NaN,2,35,NaN,11.500000,0.0,215.0,0.0,more than 10 floors,95000.0,0.5,sale,more than 10 floors
2,0,NaN,NaN,NaN,NaN,2.0,3.0,NaN,1.0,NaN,NaN,NaN,13,322,NaN,0.000000,0.0,150.0,0.0,ground floor,59500.0,7.5,sale,ground floor
3,0,NaN,NaN,NaN,NaN,3.0,3.0,NaN,1.0,NaN,NaN,NaN,2,421,NaN,0.000000,0.0,180.0,0.0,ground floor,125000.0,0.5,sale,ground floor
4,0,NaN,NaN,NaN,NaN,4.0,2.0,NaN,1.0,NaN,NaN,NaN,13,42,NaN,0.000000,0.0,120.0,0.0,ground floor,12500.0,0.5,sale,ground floor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6846,3,NaN,NaN,NaN,NaN,0.0,0.0,NaN,3.0,NaN,NaN,NaN,2,20,NaN,0.000000,0.0,370.0,1024.0,0,85000.0,7.5,sale,0
6847,3,NaN,NaN,NaN,NaN,0.0,0.0,NaN,3.0,NaN,NaN,NaN,2,314,NaN,0.000000,0.0,400.0,296.0,0,50000.0,20.0,sale,0
6848,3,NaN,NaN,NaN,NaN,0.0,0.0,NaN,3.0,NaN,NaN,NaN,13,28,NaN,0.000000,0.0,120.0,400.0,0,65000.0,7.5,sale,0
6849,3,NaN,NaN,NaN,NaN,0.0,0.0,NaN,3.0,NaN,NaN,NaN,13,264,NaN,0.000000,0.0,200.0,500.0,0,90000.0,20.0,sale,0
6850,3,NaN,NaN,NaN,NaN,0.0,0.0,NaN,3.0,NaN,NaN,NaN,2,17,NaN,0.000000,0.0,645.0,500.0,0,265000.0,14.5,sale,0

In [ ]:
## concatinating both daattasets to gether as one dataset finally {WORKED}
full_df = pd.concat([rent_df, sale_df], axis=0, ignore_index=True)

In [ ]:
full_df

,bedroom,price_clean,Neighborhood,listing,type,building_age_years,furnishing,land_area,number_of_floors,City,floor_lower,surface_area,bathroom,floor,floor_numeric
0,0.5,30.0,244,rent,apartment,0.5,1.0,NaN,1.0,2,first floor,50.0,1.0,first floor,1.0
1,3.0,19900.0,11,rent,apartment,7.5,0.5,NaN,1.0,2,first floor,278.0,4.0,first floor,1.0
2,2.0,4000.0,135,rent,apartment,7.5,0.0,NaN,1.0,2,basement floor,105.0,2.0,basement floor,-1.0
3,3.0,190.0,245,rent,apartment,3.0,0.0,NaN,1.0,2,second floor,110.0,2.0,second floor,2.0
4,2.0,13000.0,10,rent,apartment,3.0,1.0,NaN,1.0,2,ground floor,130.0,3.0,ground floor,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11647,0.0,85000.0,20,sale,3,7.5,0.0,1024.0,3.0,2,0,370.0,0.0,0.0,0.0
11648,0.0,50000.0,314,sale,3,20.0,0.0,296.0,3.0,2,0,400.0,0.0,0.0,0.0
11649,0.0,65000.0,28,sale,3,7.5,0.0,400.0,3.0,13,0,120.0,0.0,0.0,0.0
11650,0.0,90000.0,264,sale,3,20.0,0.0,500.0,3.0,13,0,200.0,0.0,0.0,0.0
11651,0.0,265000.0,17,sale,3,14.5,0.0,500.0,3.0,2,0,645.0,0.0,0.0,0.0

In [ ]:
full_df.isnull().sum().tolist()

[0, 0, 0, 0, 0, 0, 0, 4795, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
full_df.to_csv("REMA_Full_Data.csv", index=False)